[2016-05-26 01:40] cTheDragons opened #36 "https://habitica.com/apidoc/ Just continually loads"
### General Info
- bc10ec41-4213-4482-bbb8-558e3c3ea8d5
- Opera 37.0.2178.43
- Windows 8.1 32-bit
### Description

When going to the URL Address https://habitica.com/apidoc/ I just get a continuous loading screen, that is it never shows itself.

(I have tried multiple times and the last attempt I waited over an hour for any results).

![apijustloads](https://cloud.githubusercontent.com/assets/1411

[2016-05-30 12:55] crookedneighbor opened #1 "Visual cue in closed groups when there are new messages #4"
Ported from https://github.com/Horacious/HabitRPG-Chat-Extension/issues/4

[2016-05-30 12:56] crookedneighbor opened #2 "Refactor to use content script instead of injected script #9"
Ported from https://github.com/Horacious/HabitRPG-Chat-Extension/issues/9

[2016-05-30 12:57] crookedneighbor opened #3 "NPC Contributor tier error"
Originally reported https://github.com/Horacious/HabitRPG-Chat-Extension/issues/34 by @Mihakuu

Literally the only person this effects
the npc tier is not showing right, rather showing dark blue of moderator

Not something hugely important but I wanted to point it out

Edit: Also, I've been told that they can't click my name to autofill in a reply.

[2016-05-30 12:58] crookedneighbor opened #4 "Does not show markdown text from chat"
Originally reported https://github.com/Horacious/HabitRPG-Chat-Extension/issues/38 by @cTheDragons

The chat window does not show any text if it has been formated by markdown.

For example Italtics ,Bold

Headings

etc.

HTML Linking and emotive icons work.

(Other than that I find this chat app fantastic ! Thank you!)
 @crookedneighbor

[2016-05-30 12:59] crookedneighbor opened #5 "Chrome Chat Client does not allow you to post for the Newbies Guild after API v3 upgrade"
Originally posted https://github.com/Horacious/HabitRPG-Chat-Extension/issues/42 by @cTheDragons

Unable to post to large guilds after the API v3 upgrade.

See [fellow post](https://github.com/HabitRPG/habitrpg/issues/7416) concerning the details.

Also if someone could let me know if I have done this correctly

[2016-05-30 13:11] #4 closed

[2016-05-30 15:04] #5 closed

[2016-05-30 22:31] cTheDragons opened #7 "Group Tab does not display, unable to open Chat boxes does after V1.4.0 Update"
## General Info

- bc10ec41-4213-4482-bbb8-558e3c3ea8d5
- Opera 37.0.2178.43 & Chrome 50.0.2661.102 m
- Windows 8.1 32-bit

## Description
Install the latest Chat client v1.4.0

Icon in the toolbar appears to change the options however the group tabs do not, therefore you are unable to open the chat boxes.

[2016-05-30 22:34] cTheDragons commented on #7
Ignore this user error.

[2016-05-30 22:34] #7 closed

[2016-05-30 22:48] cTheDragons opened #8 "Avatars not showing in Chat client since v1.4.0 Update"
### General Info

- bc10ec41-4213-4482-bbb8-558e3c3ea8d5
- Opera 37.0.2178.43
- Windows 8.1 32-bit

### Description

Avatars are no longer showing in the chat client. Not sure if it is an extension of the extra text we can see. (Looks like all 200).
See image below
![chatavatarnotshowing](https://cloud.githubusercontent.com/assets/14116069/15659324/313e7226-270c-11e6-8040-ce083ac9b005.png)

This i

[2016-06-03 16:27] crookedneighbor opened #9 "Prevents /apidoc from loading"
Throws an error, probably due to jQuery not being on the page.

[2016-06-03 16:58] MathWhiz commented on #3
@crookedneighbor I can do it on the extension...

[2016-06-03 17:13] crookedneighbor opened #10 "Readme changelog is out of date"

[2016-06-05 13:55] crookedneighbor commented on #8
Sorry for the delay, looking into this now.

[2016-06-05 14:02] crookedneighbor opened #11 "Add habitica's eslint config"

[2016-06-06 02:55] crookedneighbor commented on #8
Just published a new version that should include avatars. I think it needs some visual tweaks, but the basic gist is there.

[2016-06-06 02:55] #8 closed

[2016-06-07 11:16] cTheDragons commented on #8
Am I missing something? The chat client is still 1.4.0 (30 May 2016) on the Google site.

[2016-06-07 11:38] crookedneighbor commented on #8
Hmm... I'm sure I forgot to hit a publish button or something on the google dashboard. Will re-submit today.

[2016-06-07 12:00] crookedneighbor commented on #8
Yep. That was it. Got it all prepped and never published.

[2016-06-16 15:48] UnexpectedMushroom opened #12 "Flower doesn't show on avatar"
Not a huge deal, but it'd be nice ^^

[2016-06-19 10:00] Racobot opened #13 "View player profile when clicking on their avatar."
I hope it's fine to request features here.

Just like how clicking on a player's name in any chat opens their profile. I'd love the extension to have this feature as well. But seeing as clicking their names on the extension adds a @ mention (which is a great feature), I guess clicking on an avatar should show their profile.

[2016-06-19 12:09] crookedneighbor commented on #13
:+1:

[2016-06-19 12:10] crookedneighbor commented on #12
👍 I've advertised this in the aspiring coders guild.

[2016-06-19 12:11] #10 closed

[2016-06-21 08:11] UnexpectedMushroom commented on #12
Yay ^^ Thank you~

[2016-06-23 06:22] Racobot opened #14 "Tavern is listed as a guild"
For some reason the extension treats the Tavern as a guild. This causes 2 minor issues:
1. The Tavern is listed both under "Regular Chatrooms" and "Guilds" in the list of groups.
2. Clicking on the Tavern from the chatbox sends you to it's '[guild page](https://habitica.com/#/options/groups/guilds/00000000-0000-4000-A000-000000000000)' rather than it's [regular page](https://habitica.com/#/options

[2016-06-23 06:37] Alys commented on #14
Related issue: https://github.com/HabitRPG/habitrpg/issues/7431 ("Tavern is a guild?")

Once we fix that one and remove all the Tavern "guild" members, this chat extension issue might no longer be relevant, although I'm not necessarily saying that this issue shouldn't exist. @Racobot thanks for reporting, and adding the workaround!

[2016-06-23 10:55] crookedneighbor commented on #14
It's definitely an API problem, not a chat extension problem, but I'll leave this open till we've fixed the API.

[2016-07-02 11:29] crookedneighbor opened #15 "Mark Group messages as seen in a group room"

[2016-07-12 15:07] cTheDragons opened #16 "NPC Colours are showing as Dark Blue instead of Black"
## General Info

bc10ec41-4213-4482-bbb8-558e3c3ea8d5
Opera 37.0.2178.43
Windows 8.1 32-bit

## Description

@Its Bailey is showing as Dark Blue instead of black as shown in image.

![chatnpcwrongcolour](https://cloud.githubusercontent.com/assets/14116069/16772087/2144eade-4896-11e6-9b50-170dfdcc6d8e.png)

[2016-07-12 15:08] crookedneighbor commented on #16
Duplicate of https://github.com/HabitRPG/habitica-chat-extension/issues/3

[2016-07-12 15:08] #16 closed

[2016-07-12 15:11] cTheDragons commented on #3
ok I did check for that issue... must be the late night crazies are hiding me on this. Sorry for the extra effort.

[2016-07-12 15:12] cTheDragons commented on #16
ok I did check for that issue... must be the late night crazies are hiding me on this. Sorry for the extra effort.

[2016-07-12 15:33] crookedneighbor commented on #16
No worries.

[2016-08-11 13:18] cTheDragons opened #17 "Quotation mark (') in name does not allow you to copy with click"
If the person name has a quotation mark in it like _Jean'Claude_ when you click on the name it does not copy to the chat window.

[2016-10-07 12:27] synrg opened #18 "Enter/Return key should not post chat messages"
The rationale for this is in https://github.com/HabitRPG/habitica/issues/8066 and the chat extension should be consistent with the behaviour of the web app.

Thanks,
Ben

[2016-10-08 04:38] crookedneighbor commented on #18
This is not a high priority, but anyone is welcome to work on it and submit a PR.

[2016-10-11 09:53] synrg opened #19 "Scroll-wheel events passed to window behind when scrolling stops"
This is a fairly minor issue, but when I scroll-wheel down to the bottom of a chat window's messages, once I have reached the bottom, scroll events start being passed through to the page behind it, causing it to scroll. Certainly not what I expected, which is that scrolling should've stopped when I reached the bottom.

Similarly, if I'm in the Send window composing a multi-line response and the sc

[2016-10-18 11:44] cTheDragons opened #20 "Able to select Party option when not in Party (And can't close easily)"
Able to select party chat window when not in a party. When selected the chat window just states loading with no ability to close the chat window other than selecting party from the group list.

[2016-11-18 14:17] #9 closed

[2016-12-28 23:29] iptohip777 opened #21 "@mention Suggestions"
Hello,

When I hit @, I usually get a dropdown list of people within the group/party that I can choose to @mention. For ex:
![image](https://cloud.githubusercontent.com/assets/23444069/21533702/5992c054-cd12-11e6-8661-0a427d63b6f8.png)

Could that feature also be available within the chat windows provided by the extension?

[2016-12-30 19:59] crookedneighbor commented on #21
This is a good feature request, but it'll be a while till I get around to implementing it. There's some larger architectural changes I want to make, which will need to be done before this is implemented.

[2016-12-31 08:04] iptohip777 commented on #21
Got it. Thanks!

On Fri, Dec 30, 2016 11:59 AM, Blade Barringer notifications@github.com
wrote:
This is a good feature request, but it'll be a while till I get around to
implementing it. There's some larger architectural changes I want to make, which
will need to be done before this is implemented.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on

[2017-03-11 04:18] cTheDragons opened #22 "Chat freezes Habitica Website & Chat"
## General Info

User Id: bc10ec41-4213-4482-bbb8-558e3c3ea8d5
Opera 43.0.2442.1144
Windows 10 32-bit

*There are reports of this occurring on chrome browsers*

## Description
Often when opening large guilds like the Tavern, Habitica Help or Report a Bug the chat system freezes. You are unable to interact with either the Chat or Habitica website. Often you are unable to close the tab, and your onl

[2017-03-11 04:27] cTheDragons commented on #21
Hi @iptohip777

Not sure you already know, while your waiting for this feature you can click on the person name from the chat and it will appear in the chat talk box.

Thanks

[2017-03-11 04:35] cTheDragons opened #23 "Bullet Points can appear weirdly on a separate line"
## General Info

User Id: bc10ec41-4213-4482-bbb8-558e3c3ea8d5
Opera 43.0.2442.1144
Windows 10 32-bit

## Description

Due to Apps, limited ability to process markdown text with bullet points, you are required to put double carriage returns between each point so they appear correctly.

This appears fine in the Habitica Website Chat, however in the chat extension it puts a line break after the
bull

[2017-03-11 11:03] UnexpectedMushroom commented on #22
I did a bit of experimenting to find out the smallest guild I'm in that this affects, and found something interesting. If you open up the small guilds first and let them load, then move progressively up the list, eventually you are able to open up the Newbies guild without a problem. When I opened the tavern after that it hung for long enough that chrome decided it was dead, but clicking "wait" on

[2017-03-11 14:35] Alys commented on #22
I wonder if that's because when you start with the small guilds, the extension loads few avatar images, and by the time you've worked up to the big guilds, enough images have been cached that you're still only loading a relatively small number for each guild. When you start with a big guild with no cache, you have to load many at once, causing it to hang. That's a guess though; I don't know if it

[2017-03-12 06:01] UnexpectedMushroom commented on #22
Nope, the only options are sound on/off and large text.

[2017-03-14 03:53] crookedneighbor commented on #22
As a temporary stop gap, I've added a disable avatars option. The real solution will be to add some logic to limit the number of concurrent requests to avatars.

[2017-03-16 00:29] cTheDragons commented on #22
The chat client is so fast now! I have not had any issues since this feature has been introduced.

Is it possible to leave this as permanent option? I still like to see the Avatar's pictures as it helps when I'm socialiting (helping those in the Habitica Help Guild & Tavern).

[2017-03-31 17:30] SabreCat opened #25 ""Click here to link to your account" has no effect"
I installed from the Chrome extensions shop yesterday onto Chrome Version 56.0.2924.87. The extension installed cleanly, but when I click the link "Click here to link to your account," it opens the Habitica API Settings page and has no further effect.

This has persisted through refreshes of the Habitica site and browser restarts.

[2017-03-31 17:32] SabreCat opened #26 "GitHub link and Manual Setup link overlap, making Manual Setup inaccessible"
When I click the Habitica Chat Extension icon in Chrome Version 56.0.2924.87, it looks like this:

![image](https://cloud.githubusercontent.com/assets/4501321/24561843/f5fd7ecc-160d-11e7-9617-28f510e347b2.png)

It looks like there's a "Manual Setup" option at the bottom that would let me work around #25, but because the GitHub link sits on top of it, clicking it takes me to GitHub instead.

[2017-03-31 17:56] crookedneighbor commented on #26
@SabreCat what version of the extension do you have? This PR should have fixed it: https://github.com/HabitRPG/habitica-chat-extension/pull/24

[2017-03-31 17:56] crookedneighbor commented on #25
This is because we added the loading screen, which throws everything off. Haven't had a chance to fix it.

[2017-03-31 18:47] SabreCat commented on #26
@crookedneighbor Looks like 1.4.3. I'll see if I can get it to update to 1.4.4 and recheck!

[2017-03-31 18:51] SabreCat commented on #26
The version of the extension on the Play Store is 1.4.3. I'll check once 1.4.4 is available!

[2017-03-31 18:52] crookedneighbor commented on #26
It should be available. Hmm... let me see about re-publishing it.

[2017-03-31 18:52] crookedneighbor commented on #26
I must have forgotten to hit the publish button.

[2017-03-31 19:17] Ieahleen opened #27 "Manual Setup impossible to use"
It's impossible to use Manual Setup to link the Chat extension to Habitica account because it's impossible to select the link that is covered by the GitHub link. In combo with the automathic linking make the extension impossible to use
![3758e9a8-b813-41bd-44d7-685f294c2150](https://cloud.githubusercontent.com/assets/26656284/24565792/104243e6-1657-11e7-9a21-3337917bd37a.png)

Workaround that is n

[2017-03-31 19:22] #27 closed

[2017-03-31 19:25] Ieahleen commented on #26
It's still not resolved! And I have 1.4.4
![habitica chat client chrome web store](https://cloud.githubusercontent.com/assets/26656284/24566134/909a3af2-1658-11e7-9afa-fcc3ca434c02.png)

[2017-03-31 19:32] crookedneighbor commented on #26
Can you take a screenshot of the app version on the chrome extensions page?

I _just_ released 1.4.4 ,so it's possible that you downloaded it while it was 1.4.3 and it hasn't yet updated automatically to 1.4.4

[2017-03-31 21:11] SabreCat commented on #26
Mine automatically updated and this issue is now resolved for me, at least!

[2017-03-31 21:13] #26 closed

[2017-03-31 21:15] SabreCat opened #28 "Allow extension to run on domains other than habitica.com"
Habitica staff typically use Habitica on a staging site, for the purpose of giving upcoming features and fixes a bit of extra testing before deploying them to production. This extension, however, only displays its chatboxes on habitica.com proper. It'd be nice to have the extension activate on other Habitica domains' tabs, even if it's making requests against the production URL.

The staging site

[2017-04-01 02:08] #25 closed

[2017-04-01 02:11] crookedneighbor commented on #25
Just published this. Should work now.

[2017-05-09 21:43] tricksyfox opened #29 "Swear-Word Block Message Doesn't Display"
Sorry if this is the wrong place to put this!

With the implementation of the new swear-word blocker, messages containing a banned word posted to the Tavern will be blocked from posting, and a pop-up will inform the user as to why it's blocked.

Messages posted to the Tavern through the chat extension are successfully blocked, but it triggers no pop-up.

[2017-05-10 08:38] Alys commented on #29
In addition to displaying the block warning (in whatever way; doesn't have to be a popup), the message that the user has typed should be left in the text entry field so that the user can edit it rather than having to retype from scratch.

[2017-06-10 23:31] #28 closed

[2017-06-10 23:32] SabreCat commented on #28
Not necessary, it turns out, as we can just route any heavily-used test sites to whatever.habitica.com.

[2017-09-25 09:01] Ieahleen opened #30 "random messages are highlighted not those in which one is tagged"
random messages are highlighted not those in which one is tagged

two images as example below. To be clear some messages in which I am mentioned are highlighted, but it seems part of the randomness.

![immagine2](https://user-images.githubusercontent.com/26656284/30800545-a288150e-a1e0-11e7-8a10-e0e27602aa13.png)
![immagine](https://user-images.githubusercontent.com/26656284/30800549-a4dcb738-a1e0

[2017-09-27 21:53] crookedneighbor commented on #30
Thanks for the report. I'll be doing some upgrades on Friday after the redesign launches, and this will likely be one of the things that gets taken care of.

[2017-09-29 03:15] crookedneighbor opened #31 "Extension does not work with new site design"
New site eliminated a global jQuery object, so the extension is broken.

[2017-09-30 03:28] crookedneighbor commented on #31
Progress so far:

* User can login manually
* List of groups populates

Still needed for a workable version:
* Open chat boxes for groups
* See messages
* Send messages

All other features will be re-done as time permits.

[2017-10-02 00:47] crookedneighbor commented on #31
Fixed in v1.4.6

[2017-10-02 00:47] #31 closed

[2017-10-04 11:28] Ieahleen opened #32 "Clicking on guild names bring to old urls."
Example, the Book Lust guld has now url `https://habitica.com/groups/guild/16b96e1b-0b59-4b49-b9a7-05f20ff760e6`, but clicking on the guild name in the extension chat add simply `#/options/groups/guilds/16b96e1b-0b59-4b49-b9a7-05f20ff760e6` at the end of current url, and so don't work.

[2017-10-04 13:01] #32 closed

[2017-10-04 13:03] crookedneighbor commented on #32
Thanks, just published v1.4.7 with a fix for this. Should be updated in the next hour.

[2017-11-08 12:39] Lalaitha opened #33 "Chat extension not working: Does not save API token after reload."
Hey,

For a few days I have been having issues with the extension not working. Today in the Tavern, someone else mentioned they had issues as well.

So I investigated it a bit. Turns out that when I select manual setup, my user ID is shown in both the User ID slot and the API key slot. I therefore tried changing it to the API token and reloaded. Then came the pop-up, saying that it was now linked

[2017-11-08 13:03] crookedneighbor commented on #33
This is definitely because of the change to how the api token is stored on the site. Will look into fixing this soon (today, hopefully).

[2017-11-08 13:19] crookedneighbor commented on #33
Closed with https://github.com/HabitRPG/habitica-chat-extension/commit/a4010b420259584c49f6a63437a30c391142bfcb

I've published a new version. Should be available automatically in about an hour.

[2017-11-08 13:19] #33 closed

[2017-12-05 18:01] Mikaela opened #34 "Firefox support"
I think that the Habitica inbuild chat is somewhat bad and I would hope thie extension to help me use it, but I use Firefox and it's only for Chrome.

However Firefox 57 only supports WebExtensions and I have understood them to be easy to port across web browsers and I hope that porting this one would be doable and not too much effort or out-of-scope.

* https://developer.mozilla.org/en-US/Add-ons

[2017-12-05 19:02] crookedneighbor commented on #34
Want to open a PR and give it a try? :)

[2017-12-05 19:25] Mikaela commented on #34
I am not a coder, sorry :(

[2017-12-05 19:36] crookedneighbor commented on #34
To be honest, this isn't high on the roadmap of priorities for this repo, but I can see if I can fit it in eventually. Hoping to get a broader redesign done soon.

[2017-12-05 19:37] crookedneighbor commented on #34
If someone else wants to take a stab at it, and it's not too complicated to do, they should go for it.

[2018-12-19 11:56] coder-extreme commented on #21
I fixed the feature @cTheDragons mentioned with Pull Request #35.

[2018-12-26 03:54] Alys commented on #36
It looks like the transfer wasn't successful earlier and it closed the issue instead. It's a beta feature so `shrug`. I've tried the transfer again now and reopened the issue - seems to have worked!

[2019-01-04 14:33] cTheDragons commented on #30
The highlighting is to do with how liked the message is. The higher the like count the more brighter the boarder.

It not related to tagging the user.

[2019-01-04 15:07] Ieahleen commented on #30
I may have missed that information somewhere or never identified the other
way in which a message that @mentions is evidentiated

[2019-01-04 15:08] cTheDragons commented on #30
Agreed it needs to be added to the wiki.

[2019-01-17 10:44] #30 closed

[2019-03-03 22:13] cTheDragons commented on #36
This can be closed now as it has been fixed with Pull Request #37.

[2019-03-03 22:13] cTheDragons commented on #34
This can be closed now as it has been fixed with Pull Request #37.

[2019-03-03 22:13] cTheDragons commented on #29
This can be closed now as it has been fixed with Pull Request #37.

[2019-03-03 22:13] cTheDragons commented on #23
This can be closed now as it has been fixed with Pull Request #37.

[2019-03-03 22:14] cTheDragons commented on #22
This can be closed now as it has been fixed with Pull Request #37.

[2019-03-03 22:14] cTheDragons commented on #20
This can be closed now as it has been fixed with Pull Request #37.

[2019-03-03 22:14] cTheDragons commented on #19
This can be closed now as it has been fixed with Pull Request #37.

[2019-03-03 22:14] cTheDragons commented on #17
This can be closed now as it has been fixed with Pull Request #37.

[2019-03-03 22:15] cTheDragons commented on #15
This can be closed now as it has been fixed with Pull Request #37.

[2019-03-03 22:16] cTheDragons commented on #13
This can be closed now as it has been fixed with Pull Request #37.

[2019-03-03 22:16] cTheDragons commented on #12
This can be closed now as it has been fixed with Pull Request #37.

[2019-03-03 22:16] cTheDragons commented on #3
This can be closed now as it has been fixed with Pull Request #37.

[2019-03-03 22:16] cTheDragons commented on #1
This can be closed now as it has been fixed with Pull Request #37.

[2019-03-04 09:52] #36 closed

[2019-03-04 09:53] #1 closed

[2019-03-04 09:53] #3 closed

[2019-03-04 09:53] #12 closed

[2019-03-04 09:53] #13 closed

[2019-03-04 09:53] #15 closed

[2019-03-04 09:53] #17 closed

[2019-03-04 09:53] #19 closed

[2019-03-04 09:53] #20 closed

[2019-03-04 09:53] #22 closed

[2019-03-04 09:53] #23 closed

[2019-03-04 09:53] #29 closed

[2019-03-04 09:53] #34 closed

[2019-03-08 17:00] paglias opened #38 "Extension making lots of unauthenticated requests"
We had to disable the AJAX calls the extension was making because from our logs it looked like it continuously made a lot of unauthenticated requests to the api (no user id or api key)

[2019-03-09 07:04] Alys commented on #38
@paglias would it be possible to include an example of the log file message here? I'd add it myself but I don't know how to identify which records in Loggly are from the extension and which aren't.

If you prefer, send me just the link to one example and I'll copy the record here with neat formatting and with redaction of any details that might identify a person's private information (IP addresses

[2019-03-09 10:35] paglias commented on #38
It's the `Missing authentication headers` error message that can happen from any route when the `x-api-user` and `x-api-key` headers are empty.

<img width="801" alt="Schermata 2019-03-09 alle 11 34 28" src="https://user-images.githubusercontent.com/589911/54070372-5496b500-425f-11e9-90fe-d131f4381516.png">

[2019-03-09 13:37] cTheDragons commented on #38
@paglias Does this only occur on the /api/v3/user call? or other calls?

[2019-03-09 15:46] paglias commented on #38
Unfortunately it's difficult to distinguish between requests made by the
extension and other ones, we just know that after the update was released
these errors skyrocketed and then went back to normal levels after the Ajax
calls were disabled

The majority are for sure calls to /api/v3/user but there could be other
routes as well

Il Sab 9 Mar 2019, 14:37 cTheDragons <notifications@github.com> ha

[2019-03-09 19:30] cTheDragons commented on #38
Is there anyway for us to see these errors from the client side, without access to the server logs?

[2019-03-09 19:47] paglias commented on #38
You should be able to see all the requests made by the extension from the
network tab in the developer tools in Chrome (of the extension itself not
of habitica.com)

Il Sab 9 Mar 2019, 20:30 cTheDragons <notifications@github.com> ha scritto:

[2019-03-09 19:55] cTheDragons commented on #38
Thanks. Will check it out.

The bad requests are occurring because the system is try to query when the User ID/API Token is blank or incorrect.

After my quick check of the code, it appears it does not complete a check that the User ID/API Token is valid on loading and tries to complete everything regardless of the error messages.

[2019-03-10 12:18] cTheDragons commented on #38
After some more quick investigation it looks like the server issues are likely to this interval code at [Line 795](https://github.com/HabitRPG/habitica-chat-extension/blob/master/chrome/mainChat/chat_inPage.js#L795)

It is checking every 20 seconds regardless if the chat is paused or not to update the notifications in the guild list.

From what I can gather, what needs to change is
+ Only complete

[2019-03-10 19:46] paglias commented on #38
That looks good, but I think the problem is also that people who didn't link the extension to their account still had requests being sent so I guess we need to check that the api keys are actually set

[2019-03-10 21:22] cTheDragons commented on #38
Agreed. Though I think it only limited to two bad requests if the name is not set correctly.

[2019-04-26 18:16] #38 closed

[2019-04-29 20:03] paglias opened #40 "Minified code preventing publication on Firefox Add-ons"
We got an email from the Firefox Add-ons website (https://addons.mozilla.org/it/firefox/) letting us know that the extension can't be published as long as it contains minified code

I think the issue comes from the presence of minified jquery code [here](https://github.com/HabitRPG/habitica-chat-extension/blob/master/firefox/mainChat/chat.js#L2-L5), [here](https://github.com/HabitRPG/habitica-chat

[2019-04-29 21:25] crookedneighbor commented on #40
Alternatively, jquery can just be removed as a dependency. :)

[2019-04-29 22:04] crookedneighbor commented on #40
I think I’ll have a bit of free time tonight or tomorrow. Will give it a go if I have the chance.

[2019-05-02 22:46] cTheDragons commented on #40
Hi @crookedneighbor  Any luck?

[2019-05-03 00:01] crookedneighbor commented on #40
Yeah, it’s in progress.

[2019-05-03 00:01] crookedneighbor commented on #40
Turns out there’s a ton of jquery in these files :dizzy:

[2019-05-03 03:14] crookedneighbor commented on #40
Got it started here: https://github.com/crookedneighbor/habitica-chat-extension/tree/remove_jquery

[2019-05-03 03:15] crookedneighbor commented on #40
Not gonna have a chance to keep working on it for a while, so if y'all want to go that route, feel free to use the branch and go from there.

TBH, if you want a quick fix, just use the un-minified versions of the scripts.

[2019-05-03 09:02] cTheDragons commented on #40
I'm thinking we should use that. As that all I would do.

@paglias Did you have any thoughts?

[2019-05-03 09:08] paglias commented on #40
I'm fine with just using the unminified version !

Il Ven 3 Mag 2019, 11:02 cTheDragons <notifications@github.com> ha scritto:

[2019-05-03 09:09] cTheDragons commented on #40
@crookedneighbor are you ok created the Pull request or would you like me to do it?

Do we need to do any formal testing with it?

[2019-05-03 13:20] paglias commented on #40
@cTheDragons I'd say if it loads and works normally for us we're good to go without extensive testing

[2019-05-05 06:48] Alys opened #41 "chat popup does not appear when user not in party (Chrome)"
This bug occurs on the Chrome extension. I haven't tested for it on Firefox.

When my user account is not in a party, the chat pop-ups don't appear.

The console says:
 `Uncaught TypeError: Cannot read property 'getElementsByTagName' of undefined` for `chat_inPage.js:862`

When I click on the script name in that message, the console takes me to this line in the extension's source code:

`var group

[2019-05-05 06:49] Alys commented on #41
Sorry, ignore the question at the end "Should I log that as an issue in the GitHub repo? Happy to if that will help." That was left over from when I reported this elsewhere. :) I've deleted it for neatness.

[2019-06-25 03:23] godless-toast commented on #40
What's the status? I know there's work being done to make the developer's lives easier with #42, but it's been almost 2 months and I'd love to be able to use the extension on Firefox.

[2019-07-01 13:25] benjaminbhollon commented on #40
I think we're trying to work out bugs in Browserify right now.

[2019-07-16 00:14] CaribouKai opened #43 "Avatars not displaying"
The avatars don't display at all. You can still click the empty space to visit the player's profile. Uninstalling/reinstalling and clearing cache didn't help.

[2019-07-16 00:16] CaribouKai opened #44 "Chat client randomly places spaces in words when posting"
Random spaces will sometimes appear in text after it posts to a chat. I was giving the benefit of the doubt that it may have just been me typoing, but it happened three times in a row with a copy/pasted link.

[2019-07-16 06:38] Alys commented on #44
@CaribouKai Can you tell us which Guild(s) / Tavern / Party this happened in and the message you posted? If it's no longer visible due to the 200 message limit, tell us some word(s) from the messages if you remember them (we can then find the messages in the database).

Also if you're not [CaribouKai](https://habitica.com/profile/4c37bdea-9c8d-49ac-bacf-a977b46d9257) in Habitica let us know your U

[2019-07-16 12:28] CaribouKai commented on #44
It happens pretty much anywhere, though more often Tavern simply due to frequency of posting. Unfortunately I can't find any posts that contain one of the random spaces (it doesn't happen with every post), but the next time I notice one, I'll be sure to let you know when and where!

And yes, I'm CaribouKai there :)

[2019-07-20 00:37] CaribouKai commented on #44
Alright, got a random space on my post in Tavern at 8:29PM EST!

(Also, many thanks for the return email. I didn't wanna muck up your inbox further with a thanks in reply to your thanks!)

[2019-07-20 14:43] Alys commented on #44
@CaribouKai It was the message below, right? With the space appearing in "bar" where the `\n` is in the line below? That `\n` represents a line break so that might help track down why this is happening. Thank you!

"@Roshio It didn't seem to be any more than their normal favorite food when I fed them to mine. I could be wrong, though, I'm only going by what I saw the ba\nr do!"

Here's the relevan

[2019-07-20 14:51] CaribouKai commented on #44
That's the one!

[2019-07-30 09:05] Alys opened #47 "likes count inaccurate (possibly `false` likes are displayed as if they were `true` likes)"
Aerilita posted in the Report a Bug guild:
"My post appears void of likes on the website, but with a +1 via the chat extension."
![screenshot](https://user-images.githubusercontent.com/1495809/62115541-f0eb5200-b2fb-11e9-9ef8-56f7f34143ed.png)

I haven't looked at the extension's code, but my guess would be that it's treating `false` likes in the same way as `true` ones. I.e., when someone clicks

[2019-08-18 14:52] paglias commented on #43
Should be fixed

[2019-08-18 14:52] #43 closed

[2019-08-18 14:52] paglias commented on #40
Published again, let's see how it goes

[2019-08-19 20:17] paglias commented on #40
It's been approved 🎉 thanks @benjaminbhollon !

[2019-08-19 20:17] #40 closed

[2019-08-20 04:56] Alys commented on #40
For the benefit of anyone following this issue, it looks like its been moved to a new URL: https://addons.mozilla.org/en-US/firefox/addon/habitica-chat-client-2/  (or possibly the link in the wiki page had been wrong).

I've updated the wiki page (https://habitica.fandom.com/wiki/Chat_Extension).

[2019-08-24 06:27] benjaminbhollon commented on #47
@Alys I checked, that's what's happening. I'll take a look at fixing that.

[2019-08-24 07:04] benjaminbhollon commented on #41
I'll fix this and also add a message if you're not in any guilds while I'm at it.

[2019-09-12 14:10] paglias opened #49 "Firefox version not approved"
The Firefox version of the extension had been rejected and is not available in the marketplace due to the following problems

Please read through the instructions at https://developer.mozilla.org/en-US/Add-ons/Source_Code_Submission.
Here are some examples that were discovered:
resources\habitica-markdown.min.js

Here are some examples that were discovered:
https://ajax.googleapis.com/

Here are s

[2019-10-31 15:50] #49 closed

[2019-11-01 23:01] JohnJSal opened #52 ""Enter" does not send the message"
According to the Wiki page, Enter sends the message and Shift+Enter inserts new lines, but both combinations are inserting new lines for me. The only way to send the message is to manually click the "Send" button. Should Enter be sending messages?

[2019-11-02 06:40] benjaminbhollon commented on #52
Yeah, we made an update where Ctrl+Enter is the only keystroke that sends messages, just like on the website. The wiki probably needs to be updated.

[2019-11-02 15:20] JohnJSal commented on #52
Thanks for the quick reply! I'll update the wiki as soon as I have a chance!

Take care!
John

On Sat, Nov 2, 2019, 1:40 AM Benjamin <notifications@github.com> wrote:

[2019-11-03 03:22] JohnJSal commented on #52
Hi again. Just wanted to mention that I tried Ctrl+Enter but it didn't
work. Nothing happened when I pressed them.

On Sat, Nov 2, 2019 at 10:20 AM John Salerno <johnjsal@gmail.com> wrote:

[2019-11-03 09:13] benjaminbhollon commented on #52
Hmm... Maybe that part of the update hasn't been released yet? I'll check on it.

[2019-11-03 09:15] benjaminbhollon commented on #52
Ah, commit 299fe7f hasn't been released yet because it conflicted with something else. I'll get to work on that within the next few days.

[2019-11-03 18:17] JohnJSal commented on #52
Ok, thanks again for the quick replies! Take care!

On Sun, Nov 3, 2019 at 2:15 AM Benjamin <notifications@github.com> wrote:

[2019-12-05 06:35] cTheDragons opened #53 "Do not indent Bullet Points"
When using markdown for bullet points, ie `*` or `+` at the beginning of the line. The chat client indents the bullet points squishing up the text. Please modify so it does not squish.

![image](https://user-images.githubusercontent.com/14116069/70209950-9e2c1600-1785-11ea-82dc-21bb69170f15.png)

[2019-12-05 06:43] cTheDragons opened #54 "Add ability to filter out system messages"
Add an option to hide system messages (ie buffs, quest progress etc) so only chat messages from users are displayed.

[2019-12-05 06:52] cTheDragons commented on #44
The previous version of the chat client use to send the post to Habitica when you press Enter. It also added a carriage return. Hence why you can end up with spaces in the middle of a message if you move the cursor before the end and hit enter.

I do not think this will be an issue in future versions as it has been change to Ctrl-Enter like the web client.

[2020-01-31 04:19] #11 closed

[2020-01-31 04:20] #2 closed

[2020-03-15 06:22] Alys opened #55 "Firefox bugs: can't copy Username, buttons don't work, CTRL-Enter doesn't send"
@Nakonana (33bb14bd-814d-40cb-98a4-7b76a752761c) reported the problems below on
Windows 10, Firefox 74.0. I also see them on Ubuntu 18.04, Firefox 73.01.

"... I can't copy the username by clicking on it, the buttons don't work (copy, delete, report, like, info), CTRL+enter does not send messages...

"I tried reloading the page, disabling avatars, reducing message count limit to 50,12h time format

[2020-03-15 06:23] Alys commented on #21
I'm closing this because I believe it was fixed in https://github.com/HabitRPG/habitica-chat-extension/pull/37 (as documented in https://github.com/HabitRPG/habitica-chat-extension/pull/35) however this can be reopened if I'm wrong.

[2020-03-15 06:23] #21 closed

[2020-03-15 06:25] Alys commented on #52
I'm closing this because the Ctrl-Enter feature was implemented in https://github.com/HabitRPG/habitica-chat-extension/commit/299fe7f026834f9b449ca4fe1edf4d18aedda757

Note though that there's a new(?) bug which causes it and other features to fail, documented at https://github.com/HabitRPG/habitica-chat-extension/issues/55

[2020-03-15 06:25] #52 closed

[2020-04-03 13:12] benjaminbhollon commented on #55
This is also happening for me in Brave (Chromium-based, so probably in Chrome too). I'll work on it.

[2020-04-03 13:56] benjaminbhollon commented on #55
Okay, it looks like it's the DOMPurify thing that the Firefox people requested that's breaking things. I'll look for a workaround that doesn't remove it so they won't get angry at us.

[2020-04-03 14:35] benjaminbhollon commented on #14
Is this still an issue that needs to be left open, since the negative effects on the chat extension have been removed?

[2020-04-03 15:53] paglias commented on #14
Closing since the API has its own issue

[2020-04-03 15:53] #14 closed

[2020-04-04 10:38] benjaminbhollon opened #56 "Changing settings doesn't seem to affect the extension"
So, since I started work back up on the Chat Extension, I've noticed that changing the settings doesn't seem to be affecting the extension at all. It just keeps using the default settings.

I'm not quite sure why this is yet, but I'll be working on it. I would appreciate any insights people have as to why this might be happening.

[2020-04-26 00:03] CraigInches commented on #55
dompurify is doing its job, and stripping all the unsafe elements from the strings, unfortunately that includes the onclick events. Are you still looking at this @benjaminbhollon ? We should be able to overide the config too allow the elements needed, or add them to our copy of the purify.js

[2020-04-26 03:47] benjaminbhollon commented on #55
Yeah, I'm still working on it. I've had to take a break because I've been pretty busy with everything going on right around now.

[2020-04-26 15:23] CraigInches commented on #55
Do you mind if I take a crack at it since your tied up with other things?

[2020-04-27 01:07] benjaminbhollon commented on #55
Sure, if you'd like!

[2020-04-28 06:16] froggily opened #57 "Time is confusing"
When 12-hour time is selected, midnight displays as 0:00 am (a little weird but still understandable), and noon displays as 12:00 am (confusing because 12 am is midnight).

[2020-05-02 22:29] CraigInches commented on #55
https://github.com/HabitRPG/habitica-chat-extension/pull/58

[2020-05-26 00:25] junewerner commented on #54
I can work on this one!

[2020-05-26 00:27] junewerner commented on #57
Pull request #59 should resolve this.

[2020-05-27 20:07] junewerner opened #60 "No Avatars"
Even when "Disable Avatars for Faster Load" is unchecked, avatars don't appear for both me and other people. Tested in chrome and in firefox.

![noAvatar](https://user-images.githubusercontent.com/46098097/83066877-577bf200-a02b-11ea-9a06-23e13786687c.png)

[2020-05-27 20:57] junewerner commented on #56
This may be resolved in pull #61. I ran into chrome not saving settings when working on adding the option to hide system messages. Not sure if it's the same issue that you were seeing.

[2020-05-27 21:49] junewerner commented on #60
The looks to be the same as issue #43, where the "data-v" value needed to be updated. Looks like it needs to be updated to "data-v-b43ab9da" now. I can handle this fix. Just curious though, does anyone know what the data-v value does?

[2020-05-27 23:33] Alys commented on #57
@junewerner I'm very sorry, I should have posted on this issue earlier so that you would have seen it before you made the pull request.

The terms 12am and 12pm for midnight and noon are confusing no matter which way they are used, and opinions vary too much about which way is correct, especially when you consider usage in different countries. See [12-hour clock > Confusion at noon and midnight](h

[2020-05-28 00:31] junewerner commented on #57
No worries! I agree that using noon is a good idea, but I'm worried about how to handle midnight. If a comment was made last night at midnight, should it read May 27th midnight, or May 26th midnight? Both could be confusing. We could just 'lie' and print out either 11:59 pm or 12:01 am if a timestamp is from midnight.

[2020-05-28 00:52] benjaminbhollon commented on #60
Oh, I built a fix for this and never uploaded because I was going to add other features to the same pull request and never got around to it. I'll go take a look again and upload some time over the weekend. I can't remember what the data-v thing does, but it's some sort of auto-generated thing

[2020-05-28 02:29] Alys commented on #57
@junewerner Ah yes, good point. I think we should lie. :)  12:01am is probably the better option since the date portion of the date-time stamp wouldn't need to be changed. However I don't feel strongly about that so if you have a reason for using 11:59pm, I'm sure that would be okay too.

[2020-05-28 22:42] junewerner commented on #57
Sounds good! We'll lie :) I'll get that changed and update the pull request when it's done.

[2020-06-03 02:03] junewerner commented on #57
Just added a commit to the pull request, it should now display "12:01 am" at midnight and "noon" at noon.

[2020-06-03 10:20] #55 closed

[2020-06-05 13:53] #54 closed

[2020-06-05 13:53] #56 closed

[2020-06-05 14:10] #57 closed

[2020-06-07 16:16] cTheDragons opened #62 "Unable to copy user names"
With the latest version of the Chat Client 2.2.6, you are unable to copy the user name by clicking on it.
This is an issue for both Chrome and Firefox versions.

(Tested on Chromium Version 83.0.4099.0 and Firefox Version 77.0.1)

Possible related to issue #55 that was recently closed.

[2020-06-07 16:18] cTheDragons opened #63 "Ctrl-Enter no longer sends message"
Unable to send a message using Ctrl-Enter.
This is an issue for both Chrome and Firefox versions.

(Tested on Chromium Version 83.0.4099.0 and Firefox Version 77.0.1)

Possible related to issue #55 that was recently closed.

[2020-06-08 15:04] paglias commented on #63
Hmm sorry about that, @CraigInches could you give this a look? otherwise we can revert the new version

[2020-06-08 15:52] CraigInches commented on #63
NP, I will take a look.

[2020-06-08 22:26] CraigInches commented on #63
looks like it was removed prior to my fixes:
https://github.com/HabitRPG/habitica-chat-extension/commit/b24a1e5ab48230ae37bdced029a6a0f0c89be072#diff-4ead8d4c5d2db28c0921aa02c4284738L204
and
https://github.com/HabitRPG/habitica-chat-extension/commit/b24a1e5ab48230ae37bdced029a6a0f0c89be072#diff-3e1cc66decf524e05c9a4d14924652c4L204

[2020-07-04 12:14] juanj commented on #63
Hey I would like to work on this issue.

@CraigInches you are right. Looks like this functionality was explicitly removed. Any ideas on why this was done?
Looking at the commit you linked one can see that the implementation for chrome was incomplete.
My assumption will be that because it was not working for chrome it was removed for both.

Adding the code that was removed works perfectly on Firefo

[2020-07-04 12:21] cTheDragons commented on #63
@juanj It should match the Habitica's website which is `Ctrl + Enter` to send a message. `Shit + Enter` and `Enter` just give a new line.

BTW Are you aware of the challenge posted in Comrades regarding this?

[2020-07-04 12:27] juanj commented on #63
@cTheDragons Ok. I just saw the other issue when you mentioned that it was changed to `Ctrl + Enter` to prevent the bug.

I'm aware of the challenge, moreover that how I found about this issues 😄

Also, it looks like the pull request #51 was intended to fix this.
@benjaminbhollon Are you still working on redoing this pull request?

[2020-07-04 12:46] juanj commented on #60
@benjaminbhollon ping. Would be great if you can have a look here.
If you are too busy I can take over this issue and, if is ok for you, use the code you had written for this.

On a side note, it's usually a best practice to focus pull request on only one feature at a time and keep it small when possible. This way it is easier to discuss, faster to review and if merge conflicts arrive is probably

[2020-07-04 13:42] benjaminbhollon commented on #60
Oh, yeah, sorry. I've been taking a step back from coding due to a lot of things going on at my end. Sorry for not giving you a heads up.

The idea behind fixing this bug would be to read the data-v- attribute name from one of the avatars on the page when the site is loaded and use it when generating the avatars. You should be able to do this fairly easy with jQuery.

Again, sorry for not telling

[2020-07-04 13:43] benjaminbhollon commented on #63
No, sorry. I've been taking a break from code. I informed cTheDragons but forgot to inform all of y'all. Sorry about that!

[2020-07-04 14:20] juanj commented on #60
No worries! I hope everything is fine

[2020-07-05 00:25] juanj opened #68 "Use the same code base for multiple browsers"
Right now the add-on uses two copies of the same code to support multiple browser (Chrome and Firefox). This feels really ineficient. Double the work for each feature/bug fix.

There must be a better way to handle this. I don't have much experience building browser add-ons but this is worth investigating.
Maybe share the same core JavaScript files and use different sets of Manifest/Platform depend

[2020-07-12 02:00] cTheDragons commented on #68
Wit the binary files, maybe it best we use Git LFS?

[2020-07-12 02:11] cTheDragons commented on #68
We looked in using Browserfy. However for those of coding on a non-Linux platform, (ie windows) we were unable to get it working.

[2020-07-12 13:59] #60 closed

[2020-07-12 13:59] #63 closed

[2020-07-12 14:00] #53 closed

[2020-07-12 14:00] #62 closed

[2020-07-26 00:30] juanj opened #72 "Automatically grab api token"
Currently, you need to manually input your user id and API token or go to the API settings page for the extension to grab them.
After looking at the code, I found that the user id and API token are stored on the `localStorage` and can be accessed by calling `window.localStorage.getItem('habit-mobile-settings')`

Should the extension automatically grab them from the `localStorage`?
Or maybe is impo

[2020-07-26 00:50] juanj opened #73 "Use the chat outside of Habitica.com"
I think this is a major feature and will require a lot of changes, but being able to use the chat outside Habitica may be a really useful.

I see 3 possible implementations for this
1. Inject the chat code on all websites. This may be the more straight forward, but it may be difficult to get the correct layout and can cause problems and interfere with the page layout.
2. Create an independent popu

[2020-07-26 03:18] Alys commented on #73
I don't think we should do that. People would have privacy concerns about
whether that would allow the other websites to see your Habitica messages
and we'd need to spend time answering questions about that.

It's possible that the number of people wanting to use the extension on all
websites would be low, since it may interfere with the sites and be a
distraction.

[2020-07-26 14:03] paglias commented on #72
I'd say it's important that the user manually authorizes the extension

[2020-07-26 14:03] #72 closed

[2020-07-26 14:36] juanj commented on #73
I agree with you. That's the worse possible implementation.

I haven't thought of that. You may be right, having access to the chat all the time can be an extra reason to procrastinate, thus it may be against the philosophy of Habitica.

[2020-09-15 11:10] cTheDragons commented on #73
Reviewing this issue should we then close this issue?

[2020-09-15 11:11] cTheDragons commented on #44
Is it worth closing this issue as it appears to no longer be a problem?

[2020-09-15 13:44] #73 closed

[2020-09-16 00:25] Alys commented on #44
I agree. We can reopen if it happens again. Thanks cTheDragons!

[2020-09-16 00:25] #44 closed

[2020-10-01 14:31] #68 closed

[2020-10-02 23:49] cTheDragons opened #75 "Open Links In new window"
Please could we have all links open into a new window. (Like the web version of Habitica).  Particular would like this for the Avatar Profile & Id Links. (Sometimes when trying to copy the id I accidentally open the webpage and lose my place on the chat).

[2020-10-02 23:50] cTheDragons opened #76 "API Limits"
Does any work need to be done regarding the API Limits? (Ie not polling when API Limit has been reached).

[2020-11-18 07:02] Nakonana opened #77 "Extension does not disappear after being disabled in the Firefox settings"
After disabling the extension in about:addons (Firefox 82.0.3) the extension is seemingly gone, however if one scrolls down to the bottom of the website, there's a group button in the left corner. If clicked, the guild list expands and you can scroll down beyond the website footer. One can even open guilds...? (but it looks like it's necessary to open the Tavern first...? and it's necessary to wai

[2020-11-18 08:03] Nakonana opened #78 "Chat extension is interferring with Weblate"
When the chat extension is enabled (Firefox 83.0 and previous versions), it deactivates some of weblate's buttons or changes their behavior. Things I've noticed so far:

All special characters buttons behave like "go to next string" buttons.
![special characters](https://trello-attachments.s3.amazonaws.com/5dfa77963d47893b8474869d/5e261bfa0c5bcf1647c15dbd/a0d37a4fbbf78281dd52157730a41a0c/grafik.pn

[2021-09-01 02:18] jpgklassen opened #79 "Cannot @mention users"
Including @username in a message in Habitica converts the @username to a link and pings username. Including @username in a message in Habitica Chat Extension does nothing. The @username is submitted as plain text, and username is not pinged.

[2021-09-21 16:32] beffymaroo opened #80 "Chrome Chat Extension Not Loading"
User Report:

"The list of groups is still displayed on the right hand side. When I click on a group, the chat window pops up saying "Loading Chat..." but the chat never loads. The X is gone from the top right corner. If I click on the top bar it will minimize and you can bring it back but it never works.

I've tried restarting the computer and restarting Chrome. No luck."
![chromeextension](https

[2021-09-24 21:06] WoahdangJr commented on #80
This is an extension, right? If so, try deleting and re-installing it.

[2021-11-21 04:43] cTheDragons opened #81 "Feature Request: Add button to translate text in chat to native language"
Add a button on each chat window not by you to add the ability to translate the bubble text using Google Translate.

For Example, if the text in the bubble is:

It will create an external (Extra) tab with the link

The button must not part of the Avatar, or stop the copy and pasting of text. It can appear on the outside of the bubble if best (Maybe only appear when you hover?)

[2021-11-21 06:19] ghost commented on #81
It might not answer your question, but afaik DeepL professional offers ways to translate in different documents or websites, however the translation may not be so good as in GoogleTranslate.com
Have you checked?  https://www.deepl.com/pro?cta=header-pro

[2021-11-21 15:05] cTheDragons commented on #80
It also may be an issue with the API Limits as per issue #76.

[2021-11-21 15:08] cTheDragons commented on #81
I have a quick check of DeepL. The only issue is it is country limited. https://www.deepl.com/pro/select-country?cta=header-pro#team. (Which includes mine) So I think it best we stick with Google Translate for now.

Thanks for the suggestion though. Didn't realise this existed.

[2021-12-12 00:18] CraigInches commented on #77
Based on the way the plugin works, I am not sure there is a way to fix this issue. Essentially it is actively modifying the webpage in your browser, and when its uninstalled your just removing the scripts that do the modifications. The modifications them selves will persist until you refresh.

[2021-12-12 02:00] CraigInches commented on #76
Not sure whats the official word on the limits on this as its an Official HabitRPG app do the limits apply?

Its a fair bit of work, but doable if we need too.

[2021-12-12 03:10] CraigInches commented on #79
@jpgklassen I was not able to replicate the desired situation. Even in the native chat a user was not pinged/pm'd to alert them of the mention.

I will do some testing with the current release, but I have a PR which replicates behaviour seen in native chat, username is a link to profile. Would appreciate if you could give it a whirl and see what you think: https://github.com/CraigInches/habitica-c

[2021-12-18 20:03] cTheDragons commented on #76
Yes they do. (I think it was one of the reasons API limits were introduced).

[2022-07-20 16:47] averymd opened #85 "Extension removed from Chrome and Firefox stores"
The Chrome extension settings now say "This extension violates the Web Store policy" and the [store page](https://chrome.google.com/webstore/detail/habitica-chat-client/hidkdfgonpoaiannijofifhjidbnilbb/) gives a 404.

I don't use Firefox, but that [extension page](https://addons.mozilla.org/en-US/firefox/addon/habitica-chat-client-2/) gives a 404 as well.

[2022-07-30 15:53] bauerbach commented on #85
Google and Mozilla must have changed their policies.

[2022-10-30 17:40] fredster33 commented on #85
This is likely due to the usage of Manifest 2.0 instead of 3.0. See https://developer.chrome.com/blog/mv2-transition for more info.

[2022-11-03 14:15] bauerbach commented on #85
Can't you update it to Manifest 3.0?

[2022-11-19 02:31] jlsjonas commented on #85
I'd be surprised if that would be the reason, the uploader likely got an email with more info